<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <img src="/images/bosq.jpg" alt="" width="20px">
  <h1>Comments</h1>
  <ul>
  <% comments.map(item => { %>
    <li><%= item.username %> - <%= item.text %> 
      <a href="/comments/<%= item.id %>">Disini</a> 
      <a href="/comments/<%= item.id %>/edit">EDIT</a>
      <form action="/comments/<%= item.id %>?_method=DELETE" method="post">
        <button>Delete</button>
      </form>
    </li>
  <% }) %>
  </ul>
  <a href="/comments/create">ADD COMMENT</a>
</body>
</html>